.imagecontainer{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.form-container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}
.error {
    color: red;
}
.star{
    color: red;
}


.icon-container {
    position: absolute;
    bottom: -100%; /* Start off the screen */
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s; /* Smooth transition for sliding effect */
    /* Adjust padding, height as needed */
    padding: 10px 0;
}

.card {
    position: relative; /* Ensure the icon container positions relative to the card */
    overflow: hidden; /* Keep everything contained within the card */
    /* Your existing styles */
}

.card:hover .icon-container {
    bottom: 50%; /* Slide up to the middle */
    transform: translateY(50%); /* Adjust for center alignment */
}

.edit-icon, .delete-icon {
    margin: 0 10px;
    cursor: pointer;
    /* Your existing styles */
    color: black; /* Icon color */
}
